/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 * {
     box-sizing: border-box;
 }
 
 h1,h2,h3,h4,h5,h6,
 label{
     font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
 }
 
 a {
     color: #237a91;
     cursor: pointer;
 }
 
.authentication {
    max-width: 480px;
    margin: 0 auto;
}

.form_control {
    margin-bottom: 20px;
}

.form_control label{
    display: block;
    margin-bottom: 15px;
}

.form_control input {
    width: 100%;
    padding: 15px;
    border: 2px solid #c9c9c9;
    font-size: 20px;
}

.form_control input:focus {
    border: 2px solid #52bad5;
}

.form_control .btn {
    background: #3db2d0;
    color: #ffffff;
    border: none;
    cursor: pointer;
}