// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
    cursor: pointer;
    text-transform: capitalize;
    background: #52bad5;
    padding: 10px 6px;
    font-size: 14px;
    display: inline-block;
    color: #FFFFFF;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease;
    &:hover {
        opacity: 0.8;
        border-radius: 5px;
    }
    &.selected {
        background-color: #097b98;
    }
}